# Python 
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
htmlcov
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# VsCode
.vscode
.vscode/**
.editorconfig
.README.md

# Dev
docker-compose.yml
scripts
.github
app/aerich.ini
app/migrations