<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mosine</title>
  <style>
    body {
      font-family: "Roboto", sans-serif;
    }
  </style>
</head>
<body style="margin: 0; padding: 0;">

  <table align="center" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
    <tr>
      <td colspan="4">
        <h1 style="font-family: Roboto; font-size: 37px; line-height: 24px;">Mosine</h1>
        <h3 style="font-family: Roboto; font-size: 14px;">Códigos QR para pacientes Alzheimer</h3>
        <p style="font-family: Roboto; font-size: 14px;"><span>Fecha: </span>$date</p>
      </td>
    </tr>
    <tr>
      <th colspan="2" rowspan="4" bgcolor="#6f44e0" align="center">
        <h2 style="color: #fff; font-family: Roboto; font-size: 32px; margin: 10px 0;">Ayudame</h2>
        <h2 style="color: #fff; font-family: Roboto; font-size: 30px; margin: 10px 0;">tengo</h2>
        <h2 style="color: #fff; font-family: Roboto; font-size: 38px; margin: 10px 0;">Alzheimer</h2>
        <h2 style="color: #fff; font-family: Roboto; font-size: 18px; margin: 350px 0 10px 0;">Mosine</h2>
        <p style="color: #fff; font-family: Roboto; font-size: 10px; margin: 10px 0; line-height: 20px;">Este gafete es
          exclusivamente para ayuda a enfermos de Alzeihmer cuando necesiten ayuda y se encuentren solos.</p>
      </th>
      <th bgcolor="#3e5aad" align="center" colspan="2" style="height: 150px;">
        <h2 style="color: #fff; font-family: Roboto; font-size: 32px; margin: 10px 0;">Mosine</h2>
      </th>
    </tr>
    <tr>
      <td colspan="2" style="height: 250px; display: flex; align-items: center; justify-content: center;">
        <!-- <h5>Código QR</h5> -->
        <img width="250px" height="250px" src="$qr_code" alt="qr code">
      </td>
    </tr>
    <tr>
      <td colspan="2" style="padding: 10px;">
        <h5 style="font-family: Roboto; font-size: 17px;">Instrucciones para escanear:</h5>
        <ol style="padding-inline-start: 20px;">
          <li style="font-size: 14px; font-family: Roboto; line-height: 20px;">Abra la cámara desde la pantalla de bloqueo o
            tocando el icono correspondiente en la pantalla de inicio.</li>
          <li style="font-size: 14px; font-family: Roboto; line-height: 20px;">Enfoque el código QR que quiere escanear y sujete
            el dispositivo durante dos o tres segundos sin moverlo.</li>
          <li style="font-size: 14px; font-family: Roboto; line-height: 20px;">Haga clic en la notificación para acceder al
            contenido del código QR</li>
        </ol>
        <h5 style="font-family: Roboto; font-size: 17px;margin: 0;">Télefonos de emergencia</h5>
      </td>
    </tr>
    <tr>
      <td style="padding: 10px;">
        <h6 style="font-family: Roboto; font-size: 17px; margin: 10px 0;">Cruz Roja Mexicana</h6>
        <ul style="padding-inline-start: 20px; list-style: none;">
          <li  style="font-size: 14px; font-family: Roboto; line-height: 20px;">065</li>
          <li  style="font-size: 14px; font-family: Roboto; line-height: 20px;">5557-5757</li>
          <li  style="font-size: 14px; font-family: Roboto; line-height: 20px;">5395-1111</li>
        </ul>
      </td>
      <td style="padding: 10px;">
        <h6 style="font-family: Roboto; font-size: 17px; margin: 10px 0;">Policía CDMX</h6>
        <ul style="padding-inline-start: 20px; list-style: none;">
          <li  style="font-size: 14px; font-family: Roboto; line-height: 20px;">5684-2142</li>
          <li  style="font-size: 14px; font-family: Roboto; line-height: 20px;">5481-4326</li>
          <li  style="font-size: 14px; font-family: Roboto; line-height: 20px;">5256-0606</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <h2 style="font-family: Roboto; font-size: 24px;">Instrucciones</h2>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="padding: 0 10px;">
        <ol style="padding-inline-start: 20px;">
          <li style="font-size: 14px; font-family: Roboto; line-height: 20px;">Imprime con la mejor calidad posible para
            garantizar la lectura del código QR.</li>
          <li style="font-size: 14px; font-family: Roboto; line-height: 20px;">Dobla por la mitad y lamina con un plastico
            grueso para evitar que la tinta de la impresión se borre.</li>
        </ol>
      </td>
      <td colspan="2" style="padding: 0 10px;">
        <ol style="padding-inline-start: 20px;">
          <li style="font-size: 14px; font-family: Roboto; line-height: 20px;" value="3">Recortar por la linea punteada
            respetando el margen.</li>
          <li style="font-size: 14px; font-family: Roboto; line-height: 20px;">Perfora la credencial despues de laminar por la
            marca circular y cuergalo de un cordon en el cuello de tu Angel.
          </li>
        </ol>
      </td>
    </tr>
    <tr>
      <td bgcolor="#F2F2F2" style="padding: 20px 10px;" colspan="4">
        <h3 style="font-family: Roboto; font-size: 16px;">Aviso de Privacidad</h3>
        <p style="font-family: Roboto; font-size: 12px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet amet
          vitae ipsum et, amet consectetur netus cursus purus.
          Elit arcu tempus ornare enim, nisl. Neque, vel augue sit imperdiet. Suspendisse vitae molestie volutpat vel ac sed
          pellentesque non risus. Gravida in nulla netus gravida bibendum purus, non. Quis gravida sed adipiscing suspendisse
          nullam. Dui, egestas ut sed at mattis quis aenean volutpat.</p>
      </td>
    </tr>
  </table>

</body>
</html>